/* * {
    box-sizing: border-box;
} */
body {
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}
.textarea {
    border: 1px solid grey;
    outline: none;
    font-size: 1.4rem;
    border-radius: 0.3rem;
}
.input-field {
    margin-bottom: 1.2rem;
}
.keyboard {
    padding: 0.85rem;
    width: 44rem;
    border-radius: 0.3rem;
    background-color: #b5b5bd;
    border-bottom: 3px solid darkgray;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.35rem;
}
.last-row {
    margin-bottom: 1rem;
}
.button {
    /* display: block; */
    height: 2.5rem;
    margin: 0;
    padding: 0;
    margin-right: 0.1rem;
    cursor: pointer;
    transition: .3s;
    font-size: 1.4rem;
    background-color: #161515;
    color: #e1dede;
    border-radius: 0.3rem;
    transition: .3s;
}
.button:hover {
    color: #c6c6cb;
}
.symbol-btn,
.btn-up,
.btn-left,
.btn-right,
.btn-down
{
    width: 2.5rem;
}
.ctrl,
.win,
.alt {
    width: 3.5rem;
}
.space {
    width: 16.1rem;
}
.backspace {
    width: 7.4rem;
}
.tab {
    width: 3.5rem;
}
.del {
    width: 3.6rem;
}
.capslock {
    width: 4.5rem;
}
.enter {
    width: 8.1rem;
}
.shift {
    width: 6.3rem;
}
